body {
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 80px auto;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    color: #555;
}

li {
    margin: 12px 0;
    font-size: 17px;
}

/* Upload Page */

.upload-container {
    width: 80%;
    max-width: 700px;
    margin: 80px auto;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.upload-container h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.upload-container p {
    color: #555;
    font-size: 17px;
    margin-bottom: 30px;
}

.upload-container input[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
}

.upload-container button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.upload-container button:hover {
    background: #1d4ed8;
}